.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #f8df00;
  border-color: #292929;
  color: #292929;
}

/* LOGOUT button styling */
.nav-links button.nav-links__logout-btn {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem 1rem;
  font: inherit;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-links button.nav-links__logout-btn:focus {
  outline: none;
}

.nav-links button.nav-links__logout-btn:hover,
.nav-links button.nav-links__logout-btn:active {
  background: #292929;
  color: white;
}

/* Button wrapper styling */
.nav-links li.button-wrapper {
  position: relative;
}

/* Desktop layout */
@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.75rem;
  }

  .nav-links button.nav-links__logout-btn {
    border: 1px solid white;
    color: white;
    background: transparent;
  }

  .nav-links button.nav-links__logout-btn:hover,
  .nav-links button.nav-links__logout-btn:active {
    background: white;
    color: #292929;
  }
}
