.authentication_header{
    color:white;
    text-align: center;
}

.authentication{
    width: calc(100% - 2rem);
    max-width: none;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}

@media (min-width: 480px) {
    .authentication {
        width: 95%;
        max-width: 25rem;
        margin: 1.5rem auto;
        padding: 1.5rem;
    }
}

@media (min-width: 768px) {
    .authentication {
        width: 60%;
        max-width: 45rem;
        padding: 3rem;
        margin: 3rem auto;
    }
}

@media (min-width: 1024px) {
    .authentication {
        width: 40%;
        max-width: 50rem;
        padding: 3rem;
        margin: 3rem auto;
    }
}

.authentication form{
    margin-bottom: 1rem;
} 


.authentication h2 {
  color: black;
}
